ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:5000
ConnectionStrings__DefaultConnection=Host=neon-aurora.postgres.database.azure.com;Database=iam_tenant_db;Username=aurora_admin;Password=;
AWS_REGION=ap-southeast-1
AWS_COGNITO_USER_POOL_ID=
AWS_COGNITO_CLIENT_ID=
AWS_COGNITO_CLIENT_SECRET=
