ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5001
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=iam_tenant_db;Username=aurora_admin;Password=aurora_secure_password_2026!;
AWS_REGION=ap-southeast-1
AWS_COGNITO_USER_POOL_ID=local_user_pool
AWS_COGNITO_CLIENT_ID=local_client_id
AWS_COGNITO_CLIENT_SECRET=local_client_secret
