NODE_ENV=development
PORT=8080
GRPC_PORT=5004
DATABASE_URL=postgresql://aurora_admin:aurora_secure_password_2026!@localhost:5432/billing_db?schema=public
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_TLS=false
