PORT=5006
GRPC_PORT=5006
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/aurora_db?schema=negotiation_service"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/aurora_db?schema=negotiation_service"
GEMINI_API_KEY="mock-gemini-api-key"
RABBITMQ_URI="amqp://guest:guest@localhost:5672"
