**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/TestResults
**/terraform.tfstate*
**/.env*
!**/.env.example

# Credentials & Secrets (Never package secrets into container images)
**/*firebase*.json
**/*admin*.json
**/aurora-notification-admin.json
**/secrets/**
