ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
Redis__Host=
Redis__Password=
Redis__Ssl=true
Redis__AbortConnect=false
Jwt__SecretKey=
GrpcServices__IamTenant=http://iam-tenant:5000
GrpcServices__ShipmentWorkflow=http://shipment-workflow:5000
GrpcServices__RoutePlanningAgent=http://route-planning-agent.aurora-ai.svc.cluster.local:5000
GrpcServices__GpsTracking=http://gps-tracking:5000
GrpcServices__DocumentOcr=http://document-ocr.aurora-ai.svc.cluster.local:5000
GrpcServices__RegulatoryCompliance=http://regulatory-compliance.aurora-ai.svc.cluster.local:5000
GrpcServices__Notification=http://notification:5000
GrpcServices__MailService=http://mail-service:5003
GrpcServices__AiGovernance=http://ai-governance.aurora-ai.svc.cluster.local:9090
GrpcServices__CustomerAssistant=http://customer-assistant-service.aurora-ai.svc.cluster.local:5007
GrpcServices__NegotiationAgent=http://negotiation-agent-service.aurora-ai.svc.cluster.local:5006
GrpcServices__Financial=http://financial-service:5003
GrpcServices__Billing=http://billing-service:5004
