subscription_id     = "00000000-0000-0000-0000-000000000000"
resource_group_name = "rg-aurora-core-demo"
location            = "southeastasia"
vnet_name           = "vnet-aurora-core"
vnet_cidr           = "10.10.0.0/16"
aks_subnet_cidr     = "10.10.0.0/20"
appgw_subnet_cidr   = "10.10.16.0/24"
enable_nat_gateway  = false
availability_zones  = ["1"]
acr_name            = "acrauroracoredemo"
cluster_name        = "aks-core-demo"
dns_prefix          = "aurora-core"
node_count          = 2
node_vm_size        = "Standard_D2s_v5"
appgw_name          = "appgw-aurora-core-demo"
shared_vnet_id      = "/subscriptions/xxx/resourceGroups/rg-aurora-shared-demo/providers/Microsoft.Network/virtualNetworks/vnet-aurora-shared"
ai_vnet_id          = "/subscriptions/yyy/resourceGroups/rg-aurora-ai-demo/providers/Microsoft.Network/virtualNetworks/vnet-aurora-ai"
shared_key_vault_id = "/subscriptions/xxx/resourceGroups/rg-aurora-shared-demo/providers/Microsoft.KeyVault/vaults/kv-aurora-shared-demo"
environment         = "demo"
