ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080
ReverseProxy__Clusters__staff-cluster__Destinations__staff-bff__Address=http://localhost:7101
ReverseProxy__Clusters__admin-cluster__Destinations__admin-bff__Address=http://localhost:7102
ReverseProxy__Clusters__system-cluster__Destinations__system-bff__Address=http://localhost:7103
