ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:5000
ConnectionStrings__DefaultConnection=Host=neon-aurora.postgres.database.azure.com;Database=gps_tracking_db;Username=aurora_admin;Password=;
RabbitMQ__Host=rabbitmq.aurora.svc.cluster.local
RabbitMQ__Port=5672
RabbitMQ__Username=aurora_admin
RabbitMQ__Password=
