ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5003
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=route_planning_db;Username=aurora_admin;Password=aurora_secure_password_2026!;
Redis__Host=localhost:6379
Redis__Password=
Redis__Ssl=false
Redis__AbortConnect=false
Osrm__BaseUrl=http://localhost:5000
Vroom__BaseUrl=http://localhost:3000
