ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5002
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=shipment_workflow_db;Username=aurora_admin;Password=aurora_secure_password_2026!;
RabbitMQ__Host=localhost
RabbitMQ__Port=5672
RabbitMQ__Username=aurora_admin
RabbitMQ__Password=aurora_secure_password_2026!
