ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:5000
ConnectionStrings__DefaultConnection=Host=neon-aurora.postgres.database.azure.com;Database=regulatory_compliance_db;Username=aurora_admin;Password=;
RabbitMQ__Host=10.10.2.50
RabbitMQ__Port=5672
RabbitMQ__Username=aurora_admin
RabbitMQ__Password=
