NODE_ENV=production
PORT=8080
GRPC_PORT=5003
DATABASE_URL=postgresql://aurora_admin:password@neon-aurora.postgres.database.azure.com:5432/financial_db?sslmode=require
REDIS_HOST=redis-aurora-shared-demo.southeastasia.redis.azure.net
REDIS_PORT=10000
REDIS_PASSWORD=
REDIS_TLS=true
