subscription_id      = "00000000-0000-0000-0000-000000000000"
resource_group_name  = "rg-aurora-tfstate-demo"
location             = "southeastasia"
storage_account_name = "stauroratfstatedemo"
container_name       = "tfstate"
