SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/audit_service_db
SPRING_DATASOURCE_USERNAME=aurora_admin
SPRING_DATASOURCE_PASSWORD=aurora_secure_password_2026!
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=aurora_admin
SPRING_RABBITMQ_PASSWORD=aurora_secure_password_2026!
