ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5008
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=mail_service_db;Username=aurora_admin;Password=aurora_secure_password_2026!;
Redis__Host=localhost:6379
Redis__Password=
Redis__Ssl=false
Redis__AbortConnect=false
Stalwart__AdminUrl=http://localhost:8080
Stalwart__AdminApiKey=local_stalwart_dev_key
ClamAV__Host=localhost
ClamAV__Port=3310
SpamAssassin__Host=localhost
SpamAssassin__Port=783
IamTenant__GrpcUrl=http://localhost:5001
