ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:5003
ConnectionStrings__DefaultConnection=Host=neon-aurora.postgres.database.azure.com;Database=mail_service_db;Username=aurora_admin;Password=;
Redis__Host=redis-aurora-shared-demo.southeastasia.redis.azure.net:10000
Redis__Password=
Redis__Ssl=true
Redis__AbortConnect=false
Stalwart__AdminUrl=http://stalwart:8080
Stalwart__AdminApiKey=
ClamAV__Host=clamav
ClamAV__Port=3310
SpamAssassin__Host=spamassassin
SpamAssassin__Port=783
IamTenant__GrpcUrl=http://iam-tenant:5000
